@import "tailwindcss";


/* optional global variables */
:root{
--primary: #EE2A7B;
--secondary: #92278F;
}


html,body,#root{height:100%;}
body{background-color:white;color:#0a0a0a;font-family:Inter,ui-sans-serif,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial}